.game {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #cecece;
}

.game-tetrimones {
    flex-shrink: 0;
    padding: 15px;
    height: 20%;
    border-top: 1px solid #cecece;
    background-color: #f5f5f5b9;
}

.game-board {
    height: 80%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: overlay;
    overflow-x: hidden;
    background: linear-gradient(#fff 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #fff 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(43, 43, 43, 0.25), rgba(43, 43, 43, 0)), radial-gradient(farthest-side at 50% 100%, rgba(43, 43, 43, 0.2), rgba(43, 43, 43, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

.game-board::-webkit-scrollbar {
    width: 6px;
    background: rgb(243, 243, 243);
}

.game-board::-webkit-scrollbar-thumb {
    background: #dadadab9;
}